.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:5px;
}

.Logo img {
    height: 100%;
}